body, div, h1 { font-family: sans-serif; margin: 0; padding: 0 }
body {font-size: 10pt; }
h1 { padding: 15px; font-size: large; color: #000; }
h2 { padding: 10px; background-color: #eee; color: #000; margin: 0; font-size: small; font-weight: normal }

.pass { color: green; } 
.fail { color: red; } 
p.result { margin-left: 1em; }

#banner { height: 2em; border-bottom: 1px solid #fff; }
h2.pass { background-color: green; }
h2.fail { background-color: red; }