
/* 
  YOU CAN ADD OTHER STYLES AS USUAL ON THIS SHEET 
  
  Commented styles inside style definitions are used for visual 
  feedback when using the editor
  
  Commens before opeding the style are used as caption.
  Comments after the class name and before the style declaration ({) 
    define the expression that decides wheter this 
    style should be applied or not
*/

.ignoreMe{
  
}

/* WYMeditor */

/* PARA: Date */
p.date {
  color: #ccf;
  /* background-color: #ff9; border: 2px solid #ee9; */
}

/* PARA: Hidden note */
p.hidden-note /* p[@class!="important"] */ {
     display: none;
    /* color: #999; border: 2px solid #ccc; */
}

/* PARA: Important */
p.important /* p[@class!="hidden-note"] */ {
    color: red; font-weight: bold;
    /* color: red; font-weight: bold; border: 2px solid red; */
}

img.border {
    border: 1px solid #ccc;
    /* border: 4px solid #ccc; */
}

/* LIST: Special */
ul.special,
ol.special {
    color: green;
    /** / background-color: #fc9; border: 2px solid red; /**/
}


/* /WYMeditor */


.afterThisPointRulesAreNoLongerParsedByWym{
  
}

/* YOU CAN ADD OTHER STYLES AS USUAL ON THIS SHEET */
