.*swp
node_modules
compiler.jar
chef/*
.vagrant/*
src/bower_components/*
dist/AUTHORS
dist/CHANGELOG.md
dist/GPL-license.txt
dist/MIT-license.txt
dist/package.json
dist/README.md
dist/*.gz
_gh_pages
docs/.build/*
